/* Font famliy */

@font-face {
    font-family: ArialBlack;
    src: url(../fonts/ArialBlack.ttf);
}

@font-face {
    font-family: ArialMT;
    src: url(../fonts/ARIALMT.ttf);
}


/* Global for whole page */

body {
    font-family: ArialBlack;
    background: #EDF2C5;
    font-size: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}


/* Main Container */

.container {
    display: block;
    position: relative;
    width: 1260px;
    height: 940px;
    margin-left: 160px;
    margin-right: 160px;
    max-width: 1260px;
}

header {
    width: 940px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
}

.icon_container {
    display: flex;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.icon_instagram {
    padding-right: 10px;
    border-right: 1px solid #778A50;
    margin-right: none;
}

button {
    background: none;
    border: 1px solid #778A50;
    border-radius: 3px;
    font-size: 12px;
    color: #778A50;
}

.btn_login {
    width: 60px;
    height: 25px;
}

.btn_join {
    width: 50px;
    height: 25px;
    margin-left: 10px;
}

.title {
    font-size: 44px;
    width: 271px;
    height: 62px;
    font-weight: 900;
    color: #778a50;
}


/* Navigation Bar */

nav {
    background: #778A50;
    width: 940px;
    height: 44px;
    margin-top: 8px;
    margin-bottom: 20px;
}

nav>* {
    font-size: 16px;
    color: #EDF2C5;
}

.nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_items {
    margin: 16px 30px;
}

.main_pic {
    width: 940px;
    height: 448px;
}


/* Article */

article {
    width: 940px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


/* Section Part */

section {
    width: 445px;
}

.section_title {
    display: flex;
    align-items: center;
    width: 445px;
    height: 45px;
    font-size: 16px;
    background: #778A50;
    color: #EDF2C5;
}

.section_title p {
    font-size: 16px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section_container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 445px;
}

.section_img:nth-child(2n) {
    margin-left: 12px;
    margin-right: 12px;
}

.section_img {
    width: 140px;
    height: 140px;
}


/* Aside Part */

aside {
    width: 445px;
}

.aside_title {
    display: flex;
    align-items: center;
    width: 445px;
    height: 45px;
    font-size: 16px;
    background: #778A50;
    color: #EDF2C5;
}

.aside_title p {
    font-size: 16px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.aside_content {
    box-sizing: border-box;
    background: #f7fbda;
    margin-top: 15px;
    height: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.33;
    color: #7d7d7d;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
}

.aside_description {
    margin-bottom: 16px;
}

hr {
    width: 414px;
}

.aside_email {
    margin-top: 16px;
    line-height: 1.83;
}


/* Footer */

footer {
    box-sizing: border-box;
    width: 1264px;
    background: #778a50;
    font-size: 12px;
    color: #EDF2C5;
    padding-bottom: 23px;
    padding-top: 23px;
    padding-left: 479px;
}